body{
background:#0f172a;
color:white;
font-family:Arial;
}

.navbar{
display:flex;
flex-direction:column;
align-items:center;
padding:25px;
background:#1e293b;
}

.navbar h1{
font-size:36px;
color:#38bdf8;
margin-bottom:10px;
}

.links{
display:flex;
gap:30px;
}

.links a{
color:white;
text-decoration:none;
}

.page{
max-width:900px;
margin:auto;
padding:40px;
}

.subjectCard{
background:#1e293b;
padding:20px;
border-radius:12px;
margin-bottom:20px;
}

.progressBar{
height:10px;
background:#334155;
border-radius:10px;
}

.progressFill{
height:10px;
background:#22c55e;
border-radius:10px;
}

.topicBox{
background:#020617;
padding:15px;
margin-top:15px;
border-radius:10px;
}

.subtopicRow{
display:flex;
justify-content:space-between;
padding:10px;
background:#334155;
margin-top:8px;
border-radius:6px;
}

.deleteBtn{
background:#ef4444;
margin-left:10px;
}

.deleteBtn:hover{
background:#dc2626;
}